<!-- begin auth-layout section -->
<mat-toolbar color="primary">
    <!-- <button mat-icon-button>
      <mat-icon>home</mat-icon>
      <span></span>
    </button> -->

    <a aria-label="Veedu Rent" class="docs-button mat-button" mat-button="" routerlink="/" tabindex="0" aria-disabled="false" href="/">
        <span class="mat-button-wrapper">
        <!-- SVG ICON -->
        <!-- <img _ngcontent-c1="" alt="angular" class="docs-angular-logo" src="../../../assets/img/homepage/angular-white-transparent.svg"> -->
        <mat-icon>home</mat-icon>
        <span class="font-16 text-bold">Veedu-Rent</span>
        </span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
    </a>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <a mat-raised-button color="accent">Register</a>

    <!-- <span class="font-14 text-bold">Choose portal</span> -->

    <span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>supervisor_account</mat-icon>
          <span>Owner portal</span>
    </button>
    <button mat-menu-item>
          <mat-icon>person</mat-icon>
          <span>Tenant portal</span>
        </button>
    <button mat-menu-item>
          <mat-icon>group</mat-icon>
          <span>Agent portal</span>
        </button>
    </mat-menu>
    </span>
</mat-toolbar>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-6 col-lg-6 col-xl-6 mx-auto">
            <mat-card>
                <mat-card-content>
                    <nav mat-tab-nav-bar>
                        <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
              {{link.label}}
            </a>
                    </nav>
                    <router-outlet></router-outlet>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
<!-- <section class="height_100_percent"> -->
<!-- <header class="container height_100_percent">
    <div class="row d-flex align-items-center justify-content-center height_100_percent">
        <div class="d-flex flex-column">
            <router-outlet></router-outlet>
        </div>
    </div>
</header> -->
<!-- </section> -->
<!-- end auth-layout section -->