<!-- begin auth-layout section -->
<mat-toolbar color="primary">
    <!-- <button mat-icon-button>
      <mat-icon>home</mat-icon>
      <span></span>
    </button> -->

    <a aria-label="Veedu Rent" class="docs-button mat-button" mat-button="" routerlink="/" tabindex="0" aria-disabled="false" href="/">
      <span class="mat-button-wrapper">
        <!-- SVG ICON -->
        <!-- <img _ngcontent-c1="" alt="angular" class="docs-angular-logo" src="../../../assets/img/homepage/angular-white-transparent.svg"> -->
        <mat-icon>home</mat-icon>
        <span class="font-16 text-bold">Veedu-Rent</span>
      </span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div>
    </a>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <!-- <span class="font-14 text-bold">Choose portal</span> -->
  
    <span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>supervisor_account</mat-icon>
          <span>Owner portal</span>
        </button>
        <button mat-menu-item>
          <mat-icon>person</mat-icon>
          <span>Tenant portal</span>
        </button>
        <button mat-menu-item>
          <mat-icon>group</mat-icon>
          <span>Agent portal</span>
        </button>
      </mat-menu>
    </span>
</mat-toolbar>
<div class="container margin-t-10 h-100">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-6 mx-auto">
      <mat-card>
        <mat-card-content>
          <nav mat-tab-nav-bar>
            <a mat-tab-link
                *ngFor="let link of navLinks"
                [routerLink]="link.path"
                routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive">
              {{link.label}}
            </a>
          </nav>
          <router-outlet></router-outlet>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<!-- end auth-layout section -->