/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
body,
html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
    overflow: hidden;
}

.iconFont {
    margin-top: 8px;
}

.sidenav,
.cardContentCss {
    background: #EDE7F6;
    color: #2C2931;
    font-weight: 600;
}